/* --- GLOBAL PAGE LOADER --- */
#whitelake-preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0B1215;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    transition: transform 1s cubic-bezier(1, 0, 0, 1);
}

#whitelake-preloader.loaded {
    transform: translateY(-100%);
}

.loader-container-inner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#single-letter-loader {
    font-size: 80px;
    font-weight: 300;
    color: #8d8d8d;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 5px;
    transition: opacity 0.3s;
}

#full-logo-loader {
    font-size: clamp(30px, 7vw, 60px);
    font-weight: 300;
    color: #e3e3e3;
    letter-spacing: clamp(4px, 1.5vw, 12px);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    width: 0; 
    opacity: 0;
    text-align: center;
    display: block;
    
    /* Анімація розгортання з моушн-блюром */
    transition: 
        width 1.4s cubic-bezier(0.45, 0.05, 0.55, 0.95), 
        opacity 0.6s ease,
        filter 1.2s ease,
        transform 1.2s ease;
    
    filter: blur(8px);
    transform: scaleX(1.1);
}

#full-logo-loader.reveal {
    opacity: 1;
    filter: blur(0px);
    transform: scaleX(1);
}